[submodule "lib/urho3d"]
	path = lib/urho3d
	url = https://github.com/urho3d/Urho3D
[submodule "lib/WickedEngine"]
	path = lib/WickedEngine
	url = https://github.com/efedo/WickedEngine
[submodule "lib/godot"]
	path = lib/godot
	url = https://github.com/godotengine/godot
[submodule "lib/ogre"]
	path = lib/ogre
	url = https://github.com/OGRECave/ogre
[submodule "lib/ogre-next"]
	path = lib/ogre-next
	url = https://github.com/OGRECave/ogre-next
